@import '../../scss/colors.scss';

.__input-wrapper{
    >.__label{
        transition: linear 0.15s all;
        top: 1.8em;
        left: 0;
        color: $grey;
    }
    >.__input{
        border: none;
        outline: none;
        border-bottom: 1px solid $grey;
        padding: 0.5em 0;
        margin-top: 1.2em;
        z-index: 1;
        font-size: inherit;
        width: 100%;
        &:not(:placeholder-shown),
        &:focus{
            + .__label{
                font-size: 0.8em;
                top: 0;
            }
        }
        &:focus {
            border-color: $primary;
            + .__label{
                color: $primary;
            }
        }
        &:placeholder-shown + .__label{
            cursor: text;
        }
        &:invalid{
            border-color: $danger;
            +.__label{
                color: $danger;
            }
        }
    }
}