$radius: 0.3em;

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    font-size: 14px;
    color: $text;
    background: rgba($color: $grey, $alpha: 0.2);
}
.__app{
    height: 100vh;
    @extend .__row;
}
.__card{
    background: $card;
    @extend .__p-1;
    border-radius: $radius;
}
.__btn{
    border: 1px solid $primary;
    background: $primary;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.7em 1em;
    outline: none;
    text-align: center;
    border-radius: $radius;
    color: #fff;
    cursor: pointer;
    &.__large{
        width: 100%;
    }
    &:disabled{
        opacity: 0.4;
        background: $grey;
        border-color: $grey;
        cursor: not-allowed;
    }
}
.__blur{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba($color: $text, $alpha: 0.6);
}
.__block{
    display: block;
}
.__relative{
    position: relative;
}
.__absolute{
    position: absolute;
}
.__words-no-wrap{
    white-space: nowrap;
}
.__danger{
    color: $danger;
}
.__center{
    text-align: center;
}
.__recaptcha{
    max-width: 100%;
    overflow: hidden;
}